.nav-menu {
  &__list {
    display: flex;
    flex-wrap: nowrap;
  }

  &__list,
  &__dropdown-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  &__item {
    vertical-align: middle;
    padding: 0 1rem;
    user-select: none;
  }

  &__dropdown {
    position: relative;

    &:hover &-list {
      display: block;
    }
  }

  &__item--important {
    font-weight: bold;
    color: rgba(#1f2041, 0.75);
  }

  &__dropdown-title {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-right: 2.4rem;
    line-height: 1.8rem;
  }

  &__dropdown-title::after {
    position: absolute;
    width: 2.4rem;
    font-family: "Material Icons";
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 2.1rem;
    color: rgba(31, 32, 65, 0.5);
    content: "\e5cf";
  }

  &__dropdown-list {
    display: none;
    position: absolute;
    left: -1rem;
    box-sizing: border-box;
    background-color: #ffffff;
    width: calc(100% + 2rem);
    padding: 1rem;
    z-index: 1;
    box-shadow: 0px 5px 10px -5px rgba(31, 32, 65, 0.1);

    &--active {
      display: block;
    }
  }

  &__dropdown-title,
  &__link,
  &__link:hover,
  &__link:focus,
  &__link:active,
  &__link:visited {
    color: rgba(#1f2041, 0.5);
  }

  &__link {
    text-decoration: none;
  }
}
