@use "sass:color";
.nav-menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  &__list {
    display: flex;
    flex-wrap: nowrap;
  }

  &__list,
  &__dropdown-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  &__authorization {
    display: flex;
  }

  &--user-loged &__signing-button {
    display: none;
  }

  &--user-loged &__profile {
    display: block;
  }

  &__signing-button {
    margin-left: 2rem;
  }

  &__profile {
    display: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding-left: 2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-left: 2rem;
    border-left: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__username {
    color: rgba(31, 32, 65, 0.5);
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    user-select: none;

    &--important {
      font-weight: bold;
      color: rgba(#1f2041, 0.75);
    }
  }

  &__dropdown {
    position: relative;

    &--opened &-list {
      visibility: visible;
      opacity: 1;
    }
  }

  &__dropdown-title {
    display: inline-block;
    cursor: pointer;
    padding-right: 2.4rem;
    line-height: 1.8rem;
  }

  &__dropdown-title::after {
    position: absolute;
    width: 2.4rem;
    font-family: "Material Icons";
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 2.1rem;
    color: rgba(31, 32, 65, 0.5);
    content: "\e5cf";
    transition: all 0.1s ease-in;
  }

  &__dropdown-list {
    visibility: hidden;
    position: absolute;
    top: calc(100% + 1rem);
    left: -2rem;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 0 2rem;
    z-index: 1;
    opacity: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 5px 10px -5px rgba(31, 32, 65, 0.1);
    transition: opacity 0.1s ease-in, visibility 0.1s ease-in;
  }

  &[data-navopened="false"] &__dropdown:hover &__dropdown-list {
    visibility: visible;
    opacity: 1;
  }

  &__dropdown-item {
    margin: 1rem 0;
  }

  &__dropdown-title,
  &__link {
    color: rgba(#1f2041, 0.5);
  }

  &__link {
    text-decoration: none;
    white-space: nowrap;
  }

  &__auth-btn {
    display: none;
    justify-content: center;
    align-items: center;
    color: rgba(31, 32, 65, 0.3);
    cursor: pointer;
  }

  &__auth-btn-icon {
    font-size: 3rem;
  }

  &__burger {
    display: none;
    user-select: none;
    cursor: pointer;
    margin-left: 2rem;
  }

  &__burger-line {
    width: 2.5rem;
    height: 0.2rem;
    background-color: rgba(31, 32, 65, 0.3);
    margin: 0.5rem;
    transition: transform 0.1s ease-in, opacity 0.1s ease-in, background-color 0.1s ease-in;
    transform-origin: center;
  }

  @media screen and (max-width: 1023px) {
    &__content-cover {
      visibility: hidden;
      position: absolute;
      height: calc(100vh - 100%);
      width: 100vw;
      top: 100%;
      right: 0;
      z-index: 1;
      background-color: #1f2041;
      opacity: 0;
      transition: all 0.1s ease-in;
    }

    &__list {
      display: block;
      visibility: hidden;
      position: absolute;
      box-sizing: border-box;
      right: 0;
      top: 100%;
      height: calc(100vh - 100%);
      overflow-y: auto;
      padding: 0 2rem;
      background-color: #ffffff;
      opacity: 0;
      transition: all 0.1s ease-in;
    }

    &__item {
      width: 100%;
      display: block;
      box-sizing: border-box;
      text-align: left;
      margin: 1rem 0;
    }

    &__dropdown {
      &--opened &-title::after {
        transform: rotate(-180deg);
      }

      &--opened &-list {
        transition: max-height 0.2s ease-in, opacity 0s 0s, visibility 0s 0s;
      }
    }

    &__dropdown-list {
      position: static;
      max-height: 0vh;
      padding: 0;
      padding-left: 1rem;
      overflow: hidden;
      border-left: 1px solid (rgba(31, 32, 65, 0.1));
      box-shadow: none;
      transition: max-height 0.2s ease-in, opacity 0s 0.2s, visibility 0s 0.2s;
    }

    &__dropdown-item {
      margin: 0;
      margin-top: 0.5rem;
      &:first-child {
        margin-top: 0;
      }
    }

    &__burger {
      display: block;
    }
    &[data-navopened="true"] &__content-cover {
      visibility: visible;
      opacity: 0.2;
    }

    &[data-navopened="true"] &__list {
      visibility: visible;
      opacity: 1;
      z-index: 2;
    }

    &[data-navopened="true"] &__burger-line {
      background-color: color.scale(#1f2041, $lightness: 35%, $saturation: -50%);
    }

    &[data-navopened="true"] &__burger-line--first {
      transform: translateY(0.7rem) rotate(45deg);
    }

    &[data-navopened="true"] &__burger-line--second {
      opacity: 0;
    }

    &[data-navopened="true"] &__burger-line--third {
      transform: translateY(-0.7rem) rotate(-45deg);
    }
  }

  @media screen and (max-width: 560px) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      visibility: hidden;
      opacity: 0;
      height: calc(100vh - 100%);
      background-color: #ffffff;
      transition: all 0.1s ease-in;
      z-index: -1;
    }

    &__content-cover {
      display: none;
    }

    &__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__item {
      text-align: center;
    }

    &__dropdown-title {
      margin-left: 1.2rem;
    }

    &__dropdown-list {
      border-left: none;
      padding-left: 0;
    }

    &__authorization {
      position: absolute;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      left: 0;
      top: 100%;
      width: 100%;
      height: calc(100vh - 100%);
      padding: 0 2rem;
      background-color: #ffffff;
      z-index: 1;
      transition: all 0.1s ease-in;
    }

    &__signing-button,
    &__profile {
      margin-left: 0;
      margin-top: 1rem;
    }

    &__signing-button {
      max-width: 20rem;
      margin: 1rem auto;
      width: 100%;
    }

    &__auth-btn {
      display: flex;
      transition: all 0.1s ease-in;
    }

    &[data-authopened="true"] &__authorization {
      visibility: visible;
      opacity: 1;
      z-index: 2;
    }

    &[data-authopened="true"] &__auth-btn {
      color: color.scale(#1f2041, $lightness: 35%, $saturation: -50%);
    }

    &[data-authopened="true"]::after,
    &[data-navopened="true"]::after {
      visibility: visible;
      opacity: 1;
    }
  }
}
