extends ../../../templates/uikit-page/uikit-page
include ../../../components/header/header
include ../../../components/footer/footer
include ../../../components/radio-button/radio-button

block variables
  - var title = 'Headers and Footers';
  - var darkBg = true;
  - var noPaddings = true;
block main
  .headers-and-footers
    .headers-and-footers__item
      +header({isForUikit: true})
    .headers-and-footers__item
      +header({isUserLoged: true, isForUikit: true})
    .headers-and-footers__item
      +footer({isForUikit: true})
