include ../../components/toxin-icon/toxin-icon

block variables

- var classes = ['uikit-page']
if (darkBg)
  - classes.push('uikit-page--dark-bg')
if (noPaddings)
  - classes.push('uikit-page--width-no-paddings')
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='apple-touch-icon' sizes='180x180' href='./assets/favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./assets/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./assets/favicons/favicon-16x16.png')
    link(rel='manifest' href='./assets/favicons/site.webmanifest')
    link(rel='mask-icon' href='./assets/favicons/safari-pinned-tab.svg' color='#a980ff')
    link(rel='shortcut icon' href='./assets/favicons/favicon.ico')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='msapplication-config' content='./assets/favicons/browserconfig.xml')
    meta(name='theme-color' content='#ffffff')
    title #{title}

  body(class=classes)
    .uikit-page__logo
      +toxin-icon({})
    main.uikit-page__main
      block main

