include ../../components/toxin-icon/toxin-icon

block variables

- var classes = ['uikit-page']
if (darkBg)
  - classes.push('uikit-page--dark-bg')
if (noPaddings)
  - classes.push('uikit-page--width-no-paddings')
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='apple-touch-icon' sizes='180x180' href='./assets/favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./assets/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./assets/favicons/favicon-16x16.png')
    link(rel='manifest' href='./assets/favicons/site.webmanifest')
    link(rel='mask-icon' href='./assets/favicons/safari-pinned-tab.svg' color='#a980ff')
    link(rel='shortcut icon' href='./assets/favicons/favicon.ico')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='msapplication-config' content='./assets/favicons/browserconfig.xml')
    meta(name='theme-color' content='#ffffff')
    title #{title}

  body(class=classes)
    .uikit-page__logo
      +toxin-icon({})
    main.uikit-page__main
      block main
    svg.uikit-page__svg-gradients(version="1.1", xmlns="http://www.w3.org/2000/svg")
      defs
        linearGradient(id='primary-gradient', x1='0', y1='0', x2='0', y2='1')
          stop(offset='0%', stop-color='#bc9cff')
          stop(offset='100%', stop-color='#8ba4f9')
        linearGradient(id='secondary-gradient', x1='0', y1='0', x2='0', y2='1')
          stop(offset='0%', stop-color='#6fcf97')
          stop(offset='100%', stop-color='#66d2ea')
