.sign-in-page {
  box-sizing: border-box;
  height: 100%;
  padding: 2rem;
  background-image: url("../../../assets/img/bg-authorization.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
