include ../toxin-logo/toxin-logo
include ../nav-menu/nav-menu
include ../link-button/link-button
//- Using example: +header({isUserLoged: true, isForUikit: true})

mixin header(params)
  - var classes = []
  if params
    if params.isForUikit
      - classes.push('header--for-uikit')
    if params.isUserLoged
      - classes.push('header--with-user-loged')
  header.header(class=classes)
    .header__content
      .header__logo
        +toxin-logo()
      .header__menu
        +nav-menu([
          {title: 'О нас', isImportant: true, link: 'https://fsd.net/aboutus'},
          {title: 'Услуги', subitems: [
            {title: 'Услуга 1', link: 'https://fsd.net/service1'},
            {title: 'Услуга 2', link: 'https://fsd.net/service2'},
            {title: 'Переселение', link: 'https://fsd.net/service3'}
          ]},
          {title: 'Вакансии', link: 'https://fsd.net/job'},
          {title: 'Новости', link: 'https://fsd.net/news'},
          {title: 'Соглашения', subitems: [
            {title: 'Соглашение 1', link: 'https://fsd.net/agreement1'},
            {title: 'Соглашение 2', link: 'https://fsd.net/agreement2'},
            {title: 'Соглашение 3', link: 'https://fsd.net/agreement3'}
          ]}
          ])
      .header__authorization
        .header__signing-buttons
          .header__login-button
            +link-button({text: 'Войти', linkTo: 'somelink', theme: 'secondary', headerButton: true})
          .header__sign-up-button
            +link-button({text: 'Зарегистрироваться', linkTo: 'somelink', theme: 'primary', headerButton: true})
        .header__profile
          .header__username Константин Константинопольский
      button.header__profile-button(title='User Menu')
          span.material-icons person_outline
