//- Using example: +carousel([require('../../../assets/img/room888.jpg'), require('../../../assets/img/room840.jpg')])

mixin carousel(images)
  .carousel
    ul.carousel__gallery
      for image in images
        li.carousel__image
          img(src=image, alt='Фото номера')

