extends ../../../templates/uikit-page/uikit-page
include ../../../components/room-card/room-card
include ../../../components/carousel/carousel

block variables
  - var title = 'Cards';
  - var darkBg = true;

block main
  .cards
    .cards__group
      .cards__card
        include ../../../forms/search-room-form/search-room-form
      .cards__card
        include ../../../forms/sign-up-form/sign-up-form
    .cards__group
      .cards__card
        include ../../../forms/room-booking-card/room-booking-card
      .cards__card
        include ../../../forms/sign-in-form/sign-in-form
    .cards__group
      .cards__card.cards__card--lastgroup
        .datepicker-here
      .cards__card.cards__card--lastgroup
        .cards__card--room
          +room-card({roomNumber: '888', images: [require('../../../assets/img/room888.jpg'), require('../../../assets/img/room840.jpg'), require('../../../assets/img/room888.jpg'), require('../../../assets/img/room840.jpg')],  type: 'люкс', price: '9&nbsp;990', rating: 5, reviewsNumber: '145'})
      .cards__card.cards__card--lastgroup
        .cards__card--room
          +room-card({roomNumber: '840', images: [require('../../../assets/img/room840.jpg')], price: '9&nbsp;900', rating: 4, reviewsNumber: '65'})
